<!DOCTYPE html>
<html lang="{{ language }}" ng-app="toolboxHtmlBattleBeamer" ng-controller="AppController">
    <head>
        <meta charset="UTF-8">
        <title>Toolbox HTML Battle Beamer</title>

        <!-- External css -->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome-animation/dist/font-awesome-animation.css">
        <link rel="stylesheet" type="text/css" href="bower_components/snackbarjs/dist/snackbar.css" />
        <link rel="stylesheet" type="text/css" href="beamer.css" />

        <!-- Bower components -->
        <script type="text/javascript" src="bower_components/tether/dist/js/tether.min.js"></script>
        <script type="text/javascript" src="bower_components/arrive/src/arrive.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap-material/angular-bootstrap-material.js"></script>
        <script type="text/javascript" src="bower_components/angular-clipboard/angular-clipboard.js"></script>
        <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="bower_components/angular-socket-io/socket.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
        <script type="text/javascript" src="bower_components/angular-uuid/uuid.js"></script>
        <script type="text/javascript" src="bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="bower_components/ng-idle/angular-idle.js"></script>
        <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>

        <!-- App -->
        <script type="text/javascript" src="beamerApp.js"></script>
        <script type="text/javascript" src="beamerTypeProvider.js"></script>
        <script type="text/javascript" src="beamerAppController.js"></script>
        <script type="text/javascript" src="clientIdProvider.js"></script>
        <script type="text/javascript" src="socket.js"></script>
    </head>
    <body>
        <div class="navbar navbar-warning">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <strong class="navbar-text" ng-click="headerClicked();">Toolbox HTML-Battle</strong>
                </div>
                <div class="navbar-collapse collapse navbar-warning-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <span class="navbar-text">
                                Status:
                                <span ng-if="connected">Verbunden</span>
                                <span ng-if="!connected">Nicht verbunden</span>
                            </span>
                        </li>
                        <li class="navbar-text" ng-click="usernameClicked()" role="button">
                            Du bist: {{ clientId }}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text">
                                Aufgabe: <span>{{ quest || 'Warte auf Aufgabe...' }}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="source-codes" class="container-fluid">
            <div class="row">
                <div ng-repeat="(remoteClientId, data) in sourceCodes"
                     class="source-code col col-xs{{ columnClass }} col-sm{{ columnClass }} col-md{{ columnClass }} col-lg{{ columnClass }}"
                >
                    <iframe ng-src="{{ data.sourceCode }}" sandbox="allow-same-origin allow-scripts">

                    </iframe>
                    <div class="navbar navbar-warning">
                        <div class="container-fluid">
                            <div class="navbar-collapse collapse navbar-warning-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <span class="navbar-text">{{ data.name || remoteClientId }} ({{ data.points || '0'}} ✪)</span>
                                        <i title="Punkte hinzufügen" class="fa fa-plus" aria-hidden="true" ng-show="admin" ng-click="addPoints(remoteClientId)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-warning" ng-show="admin">
            <div class="container-fluid">

                <div class="navbar-collapse collapse navbar-warning-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-click="fullResetButtonPressed()">Alles zurücksetzen</a>
                        </li>
                        <li>
                            <a ng-click="clearCodeButtonPressed()">Code löschen</a>
                        </li>
                        <li>
                            <a ng-click="enableLockButtonPressed()">Sperre aktivieren</a>
                        </li>
                        <li>
                            <a ng-click="disableLockButtonPressed()">Sperre deaktivieren</a>
                        </li>
                        <li>
                            <a ng-click="setQuestButtonPressed()">Aufgabe setzen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
