<!DOCTYPE html>
<html lang="{{ language }}" ng-app="toolboxHtmlBattleClient" ng-controller="AppController">
    <head>
        <meta charset="UTF-8">
        <title>Toolbox HTML Battle Client</title>


        <!-- External css -->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome-animation/dist/font-awesome-animation.css">
        <link rel="stylesheet" type="text/css" href="bower_components/snackbarjs/dist/snackbar.css" />
        <link rel="stylesheet" type="text/css" href="client.css" />

        <!-- Bower components -->
        <script type="text/javascript" src="bower_components/tether/dist/js/tether.min.js"></script>
        <script type="text/javascript" src="bower_components/arrive/src/arrive.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap-material/angular-bootstrap-material.js"></script>
        <script type="text/javascript" src="bower_components/angular-clipboard/angular-clipboard.js"></script>
        <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="bower_components/angular-socket-io/socket.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
        <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
        <script type="text/javascript" src="bower_components/angular-uuid/uuid.js"></script>
        <script type="text/javascript" src="bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="bower_components/ng-idle/angular-idle.js"></script>
        <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>



        <script type="text/javascript" src="clientApp.js"></script>
        <script type="text/javascript" src="clientAppController.js"></script>
        <script type="text/javascript" src="clientIdProvider.js"></script>
        <script type="text/javascript" src="clientTypeProvider.js"></script>
        <script type="text/javascript" src="socket.js"></script>



    </head>
    <body>
        <div class="navbar navbar-warning">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <strong class="navbar-text">Toolbox HTML-Battle</strong>
                </div>
                <div class="navbar-collapse collapse navbar-warning-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <span class="navbar-text">Status:
                                <span ng-if="connected">Verbunden</span>
                                <span ng-if="!connected">Nicht verbunden</span>
                            </span>
                        </li>
                        <li class="navbar-text" ng-click="usernameClicked()" role="button">
                            Du bist: {{ clientId }} <span ng-if="username">({{ username }})</span>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="navbar-text">Punkte: <span ng-model="points">0</span></span></li>
                    </ul>
                </div>
            </div>
        </div>










    <div class="form-group">
        <label class="col-lg-2 control-label">Radios</label>

        <div class="col-lg-10">
            <div class="radio radio-primary">
                <label>
                    <input type="radio" name="optionsRadios" checked="">
                    Option one
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" name="optionsRadios">
                    Option two
                </label>
            </div>
        </div>
    </div>


        <div id="editor-body">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>HTML</h2>
                <div
                    class="ace-editor"
                    ui-ace="
                    {
                        useWrapMode: true,
                        showGutter:  true,
                        theme:       'chrome',
                        onChange:    sourceCodeChanged,
                    }"
                    ng-model="sourceCode.html"
                >

                </div>
                <h2>CSS</h2>
                <div
                    class="ace-editor"
                    ui-ace="
                    {
                        useWrapMode: true,
                        showGutter:  true,
                        theme:       'chrome',
                        onChange:    sourceCodeChanged,
                    }"
                    ng-model="sourceCode.css"
                >

                </div>
            </div>
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <iframe ng-src="{{ sourceCode.preview }}" sandbox="allow-same-origin allow-scripts">

                </iframe>
            </div>
        </div>
    </body>
</html>