.navbar {
  margin: 0;
  clear: both;
}
#editor-body {
  height: 200px;
  margin: 0;
  padding: 0;
  clear: both;
}
#editor-body .row {
  margin: 0;
  padding: 0;
}
#editor-body .row .col {
  margin: 0;
  padding: 0;
}
#preview {
  height: 200px;
}
#preview iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
#lockOverlay {
  z-index: 1337;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #FFF;
  font-size: 100px;
  line-height: 300px;
}
